html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  body(style="background: url('https://s3.amazonaws.com/dressapp.public/structure/backgrounds/notfound.jpg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;")
    table(style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);")
      tr
        td(align="center")
          img(src='https://s3.amazonaws.com/dressapp.public/logos/square_white.svg', alt='', width='300px', height='300px')
      tr
        td(align="center")
          h1(style="color: white;" align="center") Página no encontrada
      tr
        td(align="center")
          h3(style="color: white;" align="center") El recurso "#{route}" no existe
      tr
        td(align="center")
          a(href='/' style="font-size: 16pt; color: white;") Ir al Home
